name: Go tests

on:
  - push
  - pull_request

jobs:
  gotests:
    runs-on: ubuntu-latest
    name: Go tests
    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: "1.25"
      - name: Unit tests
        run: env
      - name: Retrieve code coverage
        run: go test -coverprofile coverage.out $(go list ./... | grep -v tests)
      - name: Display code coverage
        run: go tool cover -func=coverage.out
      - name: REST API tests setup
        run: ./run_on_ci.sh
      - name: Run REST API tests
        run: ./test.sh
